*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
}
a{
    text-decoration: none;
}
header #topnav{
    background-color: #41658E;
    position: fixed;
    height: 58px;
    width: 100%;
    padding: 0 40px;
    top: 0;
    left: 0;
}
#topnav #logo{
    float: left;
    width: 25%;
}
#topnav #mainnav{
    width: 50%;
    text-align: right;
    float: right;
}
#topnav .logoicon{
    font-size: 35px;
    color: white;
    padding: 20px 15px;
}
#mainnav .navitem{
    color: white;
    height: 30px;
    margin-left: 30px;
    padding:  20px 15px;
    display: inline-block;
}
#mainnav .navitem:hover{
    color: #000;
}
#mainnav .active{
    color:#41658E ;
    background-color: white;
    height: 100%;
}
#head{
    padding-top: 150px;
}
#head .sitetitle{
    color: white;
    background-color: #41658E;
    width: 50%;
    padding: 15px;
    margin-left: 55px;
    font-size: 55px;
}
#Services{
    padding: 25px;
    height: 500px;
    background-color: #eee;
}
#services_sec .sechead{
    color:#41658E;
    text-transform:uppercase;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}
#services_sec .headhr{
    width: 10%;
   color: #EEEeee;
   margin: auto;
   margin-bottom: 25px;
}
#services_sec .service{
    float: left;
    border: 3px solid #41658E ;
    border-radius: 10px ;
    width: 32.333%;
    padding: 20px;
}
#services_sec .service2 ,#services_sec .service3{
    margin-left: 1.5%;
}
.service .num{
    color: white;
    background-color:#41658E;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
    margin-bottom: 25px;
}
.service .serviceName{
    color:#41658E ;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}
.service .servicedescr{
    color: #46bbdf;
    text-align: justify;
    line-height: 1;
}
#services_sec .service:hover{
    border: 3px solid #41658E ;
    background-color:#41658E ;
    cursor: pointer;
}
#services_sec .service:hover .num{
    color:#41658E;
    background-color:rgba(255, 255, 255, 0.932) ;
}
#services_sec .service:hover .serviceName{
    color: rgba(255, 255, 255, 0.877);
}
#services_sec .service:hover .servicedescr{
    color: rgba(255, 255, 255, 0.856);
}
footer{
    height: 250px;
    background-size: cover;
    background: url('../img/bg.jpg') no-repeat center;
}
footer #footer{
    color: rgb(183, 228, 248);
    background: rgba(2, 16, 73, 0.8);
    height: 300px;
    padding: 40px;
    background-size: cover;
}
#footer .side{
    width: 33.333%;
    padding: 25px;
    float: left;
}
#footer .side-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.infoside .site-about{
    line-height: 2;
    margin-bottom: 15px;
    font-size: 20px;
}
.infoside .social{
    text-align: center;
}
.social .socialicon{
    font-size: 30px;
    margin-left: 20px;
}
#footer .quicklinks .qlinks{
    margin-left: 25px;
}
.quicklinks .qlink-li{
    margin-bottom: 20px;
}
.quicklinks .qlink-item{
    color: rgb(217, 232, 243);
    font-size: 15px;
}
.quicklinks .qlink-item:hover{
    color: rgb(121, 118, 118);
    text-decoration: underline;
}
.contactform .inputf,.contactform .inputarea,.contactform .btn{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 15px;
    border: 3px solid rgb(150, 223, 252);
    display: block;
}
.contactform .inputf:focus,.contactform .inputarea:focus{
    outline: 0;
    border: 1px solid #0a1018;
}
.contactform .inputarea{
    color: rgb(51, 50, 50);
}
.contactform .btn{
    background-color:#41658E;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.contactform .btn:hover{
    background-color: rgb(179, 237, 245);
    color:#3a92f8;
    cursor: pointer;
}